* {
  box-sizing: border-box;   /*Incluye en el tamaño del elemento el margen y el padding*/
  margin: 0;                /*Saco el margen externo del contenedor*/
  padding: 0;               /*saco el margen interno del contenedor*/
}

a {
  text-decoration: none;    /*Quito la linea de abajo de los vinculos*/
  
}

ul{
  display: flex;
  background-color: antiquewhite;
  list-style: none;
  align-items: end;
  column-gap: 25px;
  overflow:auto;
}

li{
  text-align: center;
  width: max-content;
}

.contenedor-general{
  background-color: #a2ff00;
  display: flex;      /*Le digo que voy a usar flex*/
  flex-direction: column;     /*los dispongo en una columna*/
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 1%;
}
/*-------------------------------------------------------------*/
.header{
  display: flex;
  flex-direction: column;     /*Defino el eje principal*/
  width: 100%;
  background-color: #00a2ff;
  height: 100%;           /*Defino el alto del contenedor*/
  position: sticky;        /*Dejo el menu fijo*/
  top: -45px;              /*especifico donde se va a pegar (STICKY)*/
  
  padding: 10px;          /*espacio entre paredes y contenido*/
}

/*CUERPO HEADER*/
.header_info{
  display: flex;
  justify-content: space-between;   /*como van a usar el espacio residual en el eje principal*/
  align-items: center;            /*como van a usar el espacio residual en el eje cruzado*/
  background-color: #ffffff;
  height: 35px;
}

.header_nav{
  display: flex;
  flex-direction: row;
  background-color: #ffd900;
  height: 100px;              /*designo el alto del contenedor*/
  align-items:center;       /*Distribuyo el espacio residual en el eje opueto*/
  justify-content: space-around;      /*Distribuyo el espacio residual en el eje principal*/
  font-size: 18px;
}

.header_nav_link{
}

.header_logo{
  display: flex;
  background-color: aqua;
  height: 100%;
  width: auto
}

/*---------------------------------------------------------*/
.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/*CUERPO MAIN*/
.main_section_bienvenida{
  display: flex;
  background-image: url("imag1.jpg");     /*Pongo la imagen de fondo*/
  background-repeat: no-repeat;           /*Le digo a la imagen que no se repita*/
  background-position: top center;        /*Posiciono la imagen arriba-centrada*/
  background-size: cover;                 /*Escala la imagen al mayor tamaño posible sin estirarla*/
  height: 400px;                          /*Defino la altura del contenedor*/
  justify-content: center;                /*ajusta el espacio residual de todos los elementos en el eje principal*/
  align-items: center;                    /*ajusta el espacio residual de todos los elementos en el eje opuesto*/
}

.section_bienvenida_texto{
  background-color:rgba(120, 149, 164, 0.674);
  padding: 20px;  
  font-size: 25px;
  text-align: center;                     /*Centro el texto*/
  max-width: 744px;
}
  

.section_bienvenida_texto > h2{
  color: #ffffff;
  font-size: 70px;
  text-shadow: 1px 0px 5px black;
}

.section_bienvenida_texto > h1{
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.69);
}

.section_bienvenida_texto > p{
  color: #ffffff;
  font-size: 25px;
  text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.69);
}

.climatec {
  color: hsl(222, 100%, 50%);
  font-size: 50px;
  text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.69);
}

/*------------------------------------------------------*/
.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;          /*Centro el contenedor section horizontalmente(eje opuesto)*/
  row-gap: 50px;            /*Manejo el espacio entre las filas*/
  background-color: red;
  margin: 70px 0px;
}

.main_section div{
  width: 50%;
  background-color: #a2ff00;

}

.main_section > section{
  display: flex;
  flex-direction: row;
  column-gap: 3%;               /*Manejo el espacio entre la imagen y el texto*/
  width: 85%;                  /*Controlo el ancho de los contenedores section*/
  background-color: yellow;
  
}

.main_section img{
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
}

.main_section_image{
  display: flex;
  align-items: start;           /*Alineo las imagenes en la parte superior del contenedor*/
  justify-content: flex-end;
}
/*Manejo el contenedor matricula (lo invierto)*/
#matriculados{
  display: flex;
  flex-direction: row-reverse;
}

#main_section_matriculados_imagen {
  justify-content: start;
}

/*------------------------------------------------------------------------------------*/
.foot{
  background-color: rgb(255, 157, 0);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: auto;
}

.foot_contacto {
  background-color: #ff78e9;
  display: flex;  
  height: 200px;
  width: 100%;
  justify-content: space-around;
  
}

.foot_contacto_logo {
  background-color: #00288c;
  width: auto;
  height: 100%;
}

.foot_contacto_logo img{
  height inherit;
}

.foot_contacto_datos{
  background-color: #00a2ff;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: end;
  height: 100%;
}
.foot_contacto_datos a{
  display: flex;
  align-items: center;
  background-color: aqua;
  height: 60px;
  width: max-content;
  }
  
  /*
.foot_contacto_datos  div{
  display: flex;
  align-items: center;
}

.foot_contacto_datos i{
  height: 100%;
  width: auto;
}
*/
small {
  background-color: #ffd900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}


