*{
  box-sizing: border-box;   /*Incluye en el tamaño del elemento el margen y el padding*/
  margin: 0;                /*Saco el margen externo del contenedor*/
  padding: 0;               /*saco el margen interno del contenedor*/
}

body {
  /*background: rgb(30, 174, 112);*/
  background-image: url("./fondo.jpg"), linear-gradient(#00000045);  /*imagen y capa*/
  background-blend-mode: overlay;   /*Forma en la que se combinan*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.vista{
  /*background-color: rgb(50, 255, 234);*/
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  align-items: center;
  padding:  40px;
  border-radius: 20px;
  gap: 1rem;
}

h1{
  font-family: "Titan One", sans-serif;
  margin-bottom: 20px;
  white-space: nowrap;
  font-size: clamp(1rem, 10vw, 4.7rem);
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px, rgba(0, 0, 0, 0.22) 10px 10px 5px;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0.452);
}

input, button {
  height: 45px;
  border-radius: 10px;
}

input {
  border: 2px solid #ffffff;
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  accent-color: transparent;
  width: 15rem;
}

button{
  background-color: #ff8400;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover{
  background-color: #34a469;
  color: #ffffff;
}

.registro{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opciones{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
/*---------------  JUGAR  ------------------*/
.juego{
  overflow-x: hidden;
  width: 90%;
  height: auto;
  padding: 0;
}

#progreso {
  background-color: #ff5050;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 40px;
  font-weight: bolder;
  font-size: 1.8rem;
  -webkit-text-stroke: .15px black; /* Contorno letra*/
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

#pregunta{
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 8px;;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  font-size: 1.3rem;
}

.juego img {
  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 8px;
}

#opciones{
  background-color: rgb(218, 255, 251);
  border-radius: 20px;
  display: grid; /* Activa el modo Grid */
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-template-rows: 1fr 1fr; /* Dos filas de igual tamaño */
  gap: .8rem; /* Espaciado entre filas y columnas */
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.estadistica{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.estadistica, .ranking>h2{
  background-color: #ff5050;
  color: #ffffff;
  width: 100%;
  font-size: 1.8rem;
  margin: 0 10px;
  padding: 5px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

div.estadistica{
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 8px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .5rem;
}

span.label{
  color: rgb(11, 0, 132);
  font-weight: bold;
}

.juego > button{
  margin-bottom: 20px;
}
/*-------------RANKING--------------*/
.ranking{
  max-width: fit-content;
}
.ranking>h2{
  text-align: center;
}

.tabla {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 8px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  width: 100%;
  overflow: scroll;
  max-height: 50vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 3px;
  font-size: 1rem;
}
th {
  background-color: #5227ff;
  color: #ffffff;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Color para filas pares */
}

tr:nth-child(odd) {
  background-color: #ffffff; /* Color para filas impares */
}
tr:hover {
  background-color: #fffba8; /* Color al pasar el ratón */
}
/*---------------------------------*/
.ocultar{
  display: none;
}

.error{
  color: red;
  accent-color: red;
}