*{
  box-sizing: border-box;   /*Incluye en el tamaño del elemento el margen y el padding*/
  margin: 0;                /*Saco el margen externo del contenedor*/
  padding: 0;               /*saco el margen interno del contenedor*/
}

body {
  background: rgb(30, 174, 112);
}

main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

h1{
  font-family: "Titan One", sans-serif;
  margin-bottom: 20px;
  white-space: nowrap;
  font-size: clamp(1rem, 10vw, 4.7rem);
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px, rgba(0, 0, 0, 0.22) 10px 10px 5px;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0.452);
}

label {
  font-size: 1.5rem;
  color: #ff7c7c;
}

input {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px ;
  font-size: 1rem;
  color: #333333;
  text-align: center;
}


button{
  background-color: #ffffff;
  color: #3fa572;
  border: 2px solid #ffffff;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px;
}

button:hover{
  background-color: #34a469;
  color: #ffffff;
}
.inicio, .juego, .ranking{
  background-color: rgb(50, 255, 234);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  align-items: center;
  padding:  20px;
  border-radius: 20px;
  gap: 1rem;
}

.registro{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completar{
  accent-color: red;
}

.opciones{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
/*---------------  JUGAR  ------------------*/
.juego{
padding: 20px 0px;
}
.progreso {
  background-color: rgba(255, 255, 255, 0.616);
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#pregunta{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  font-size: 1.3rem;
}

.juego img {
width: 170px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 8px;
}

#opciones{
  background-color: rgba(0, 0, 0, 0.153);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 545px;
  padding: 20px;
}

.fin{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: rgb(229, 101, 101);

}
/*-------------RANKING--------------*/

/*---------------------------------*/
.ocultar{
  display: none;
}

.error{
  color: red;
}